<a href="https://colab.research.google.com/github/rogemaro/Data-With-Python-And-Pandas/blob/main/Clase_17_Merge_de_data_frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Un merge de data frames se utiliza para unir dos data frames que comparte un columna en común

In [ ]:
import pandas as pd

In [ ]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],},
    index = ['y2','y3','a2','a3'])

df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])

In [ ]:
df_left

     X   W   Y
y2  x0  w0  y0
y3  x1  w1  y1
a2  x2  w2  y2
a3  x3  w3  y3

In [ ]:
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [ ]:
pd.merge(df_left, df_right)#unimos el data frame

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how="inner", on="Y") #Se definen los parametros, es una buena practica hacerlo

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how="inner", left_on= "Mix", right_on = "Y")#En este caso el data frame se ha unido con la culumna mix por la izquierda y con la columna Y por la derecha

KeyError: ignored

In [ ]:
pd.merge(df_left, df_right, how="inner", left_on= "Mix", right_on = "A")

Tipos de merge

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

In [ ]:
pd.merge(df_left, df_right, how="inner", on="Y")#Se añaden solo los elementos en comun

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

In [ ]:
pd.merge(df_left, df_right, how="left", on="Y")#El data frame de la derecha se mantiene intacto y solo se le añade los parametros del data framd e la izquierda

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

In [ ]:
pd.merge(df_left, df_right, how="right", on="Y")#Se respeta el data frame de la derecha y se añade los datos del data frame de la izquierda

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

In [ ]:
pd.merge(df_left, df_right, how="outer", on="Y")#respeta los parametros de izquieda y derecha

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5

Otros tipos de merge

In [ ]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'A':['a0','a1','a2','a3']},)
df_left

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [ ]:
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [ ]:
pd.merge(df_left, df_right, how="outer", on=["Y","A"])#Se realiza con dos columnas en común

     X    W   Y   A    Z
0   x0   w0  y0  a0  NaN
1   x1   w1  y1  a1  NaN
2   x2   w2  y2  a2   z2
3   x3   w3  y3  a3   z3
4  NaN  NaN  y4  a4   z4
5  NaN  NaN  y5  a5   z5